/* add css module styles here (optional) */

.mapping_part{
  list-style: none;
}


.mapping_part  li div{
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  font-size: 14px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.mapping_part  li div span{
  width: 100%;
  text-align: center;
}